{% extends 'navbar.html' %}
{% load static %} <!-- load files from static folder-->

{% block content %}
<div id=styleschedule>
  <h1 class='display-4 color-white text-center' style='color:white'>Add Schedule</h1>
  <form class="css" action="{% url 'add_schedules' %}" method="post">
    {% csrf_token %}
    <div class="form-row">
      <div class="col-sm-1"></div>
      <div class="form-group col-sm-10" style='color: white'>
        {% for fields in form %}
          {{fields.label_tag}}
          <br>
          {{fields}}
        {% endfor %}
      </div>
    </div>
    <br><br>
    <div class="form-row">

      <div class="col-sm-1"></div>

      <input class="form-group" type="submit" class="btn btn-primary" style="margin-left:30px;color:black" value="Add">
    </form>
    </div>
{% endblock %}
