{% extends 'navbar.html' %}
{% load static %} <!-- load files from static folder-->

{% block content %}
<div id="header">
  <h3>Contact</h3>
</div>

    <div class="container">
      <div class="row">
          <div class="col-sm">
            <form>
              <div class="form-group1">
              <label for="exampleFormControlTextarea1" style="color: white; font-size: 100%"><b>FIND ME!</b></label>
              <img src="https://scontent-sit4-1.xx.fbcdn.net/v/t1.0-9/42624694_1401906903275188_2886908786797182976_n.jpg?_nc_cat=105&oh=a51309de6021e9f96c893e2aa1ccaa32&oe=5C1A3786" style="width:100%">
            </div>
            <p style="color:white"> Blok F3 No. 3 Perumahan Depok Maharaja, Kota Depok </p>
          </form>
        </div>

        <div class="col-sm">
          <br></br>
          <a href="salsabilamaurizka"><img src="https://i1.wp.com/www.vectorico.com/wp-content/uploads/2018/08/Line-Icon-Circle.png?resize=300%2C300" style="width: 8%">   salsabilamaurizka</a>
          <p></p>
          <a href="salsabilamaurizka57@gmail.com"><img src="https://png.icons8.com/color/50/000000/gmail.png" style="width: 8%">  salsabilamaurizka57@gmail.com</a>
          <p></p>
          <a href="https://www.linkedin.com/in/salsabila-maurizka-08b211161/"><img src="https://scontent-sit4-1.xx.fbcdn.net/v/t1.0-9/42132017_1397870060345539_2403952113932566528_n.jpg?_nc_cat=103&oh=3bca19c7aed726483ca899b881b87ee5&oe=5C24FDE5" style="width: 8%">  Salsabila Maurizka</a>
          <p></p>
          <a href="https://www.instagram.com/salsabilamrzkaa/"><img src="https://png.icons8.com/office/40/000000/instagram-new.png" style="width: 8%">  salsabilamrzkaa</a>
          <p></p>
          <a href="https://twitter.com/salsabilamrzk"><img src="https://png.icons8.com/color/40/000000/twitter.png" style="width: 10%">@salsabilamrzk</a>
          <p></p>
          <a href="087732605066"><img src="https://png.icons8.com/ios/40/000000/phone-filled.png" style="width: 8%"> 087732605066</a>

      </div>
    </div>
{% endblock content %}
