{% extends 'navbar.html' %}
{% load static %} <!-- load files from static folder-->

{% block content %}
    <div class="container">

    <div id="header">
      <h3>Education</h3>
    </div>

    <div class="row" id="educationrow">
        <div class="col-lg-4" id="educationcol">
          <img src="https://scontent-sin6-1.xx.fbcdn.net/v/t1.0-9/42399295_1399893430143202_6330518963780321280_n.jpg?_nc_cat=100&oh=251769e63ddba4b55793b8b60401d35a&oe=5C1BD5E5"
            alt="" width="50%" height="70%">
          <br><br>
          <p><b> SMP NEGERI 1 KEBUMEN </b></p>
          <p><b>2011-2014</b></p></div>
        <div class="col-lg-4" id="educationcol">
          <img src="https://scontent-sin6-1.xx.fbcdn.net/v/t1.0-9/42264987_1399894576809754_5231587938273329152_n.jpg?_nc_cat=109&oh=aba8e8bd1e85cdaaa71682aab380fc89&oe=5C604F18"
            alt="" width="50%" height="70%">
          <br><br>
          <p><b> SMA NEGERI 1 PURWOREJO </b></p>
          <p><b>2014-2017</b></p></div>
        <div class="col-lg-4" id="educationcol">
          <img src="https://scontent-sin6-1.xx.fbcdn.net/v/t1.0-9/42304098_1399893346809877_5317174116652941312_n.jpg?_nc_cat=101&oh=6ca3315ff65fe1ad312fa9d972f974bd&oe=5C5B9423"
            alt="" width="50%" height="70%">
          <br><br>
          <p><b> UNIVERSITAS INDONESIA </b></p>
          <p><b>2017- Sekarang</b></p></div>
        </div>
{% endblock content %}
