{% extends 'navbar.html' %}
{% load static %} <!-- load files from static folder-->

{% block content %}
    <div class="container">

    <div id="header">
      <h3>Experience</h3>
    </div>

    <br><br>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-3">
          <ul style="list-style-type:disc">
            <li>Staff Acara Social Project  "Alfabeta" Tarung 2017</li>
            <li>Staff Adkesma KOMPOR UI</li>
            <li>Staff Media dan Kreatif Pemira Fasilkom UI 2017</li>
            <li>Staff HPDD Sigempur UI 2018</li>
            <li>Staff Acara Wisuda Ganjil Fasilkom UI 2018</li>
          </ul>
        </div>
            <div class="col-lg-3">
                <ul style="list-style-type:disc">
                  <li>Staff Acara CS League 2018</li>
                  <li>Staff Playground COMPFEST X</li>
                  <li>Staff Wirausaha DPM Fasilkom UI 2018</li>
                  <li>Sekretaris 2 Wisuda Genap Fasilkom UI 2018</li>
                  <li>Staff HPDD Komgath 2018</li>
                </ul>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
    <div style="top: -144px; bottom: 0px; left: 0px; width: 49px; position: fixed; margin-top: auto; margin-bottom: auto; margin-left: 57px; z-index: 50; height: 227px></div>

{% endblock content %}
