{% extends 'navbar.html' %}
{% load staticfiles %}
{% load static %} <!-- load files from static folder-->

{% block content %}

<div id="header">
  <h3>Guest Books</h3>
</div>

<form>
    <div class="form-group">
        <label for="exampleFormControlInput1">Nama</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter your name">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Tanggal</label>
        <input type="date" class="form-control" id="exampleFormControlInput1">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Email</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter your email">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Subjek</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Subject">
    </div>
        <div class="form-group">
        <label for="exampleFormControlTextarea1">Message</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <br>
    <button class="form-group" type="submit" class="btn btn-primary" style="color:black; text-align:center">Send</button>
</form>
{% endblock content %}
