{% extends 'navbar.html' %}
{% load static %} <!-- load files from static folder-->

{% block content %}
    <div class="container">
        <div class="section-headlines">
            <h4 class=gue1>Hi! I'm Salsabila Maurizka</h4>
            <p class=gue>Student at Computer Science, University of Indonesia</p>
        </div>

        <div class="row" class="about">
            <div class="col-lg-3" id="about1"></div>
            <div class="col-lg-3" id="about1"><img src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/42058749_1397298703736008_1790833012598898688_n.jpg?_nc_cat=103&oh=512c267958416d8f9754b54eaf7c1811&oe=5C1F9E2E"
              width="100%" height="65%"></div>
            <div class="col-lg-3" id="me">
                <img src="http://2.bp.blogspot.com/-yNE4A_H3C2o/U1E6RPYNEpI/AAAAAAAADRQ/UOP1mUKaxGE/s1600/line.png" width="100%" height="1%">
                <p>Salsabila Maurizka</p>
                <article>Phone:</article>
                <p>087732605066</p>
                <article>Email:</article>
                <p>salsabilamaurizka57@gmail.com</p>
                <article>Address:</article>
                <p>Blok F3 No. 3 Perumahan Depok Maharaja, Kota Depok</p>
                <article>Date of birth:</article>
                <p>April 14th,2000</p>
                <img src="http://2.bp.blogspot.com/-yNE4A_H3C2o/U1E6RPYNEpI/AAAAAAAADRQ/UOP1mUKaxGE/s1600/line.png" width="100%" height="1%">
            </div>
            <div class="col-lg-3" id="about1"></div>
        </div>
      </div>
{% endblock content %}
