{% extends 'navbar.html' %}
{% load static %} <!-- load files from static folder-->

{% block content %}
<div id="header">
  <h3>Schedule</h3>
</div>

<br><br>
<form class="css float-right" action="{% url 'remove_all' %}" method="post">
  {% csrf_token %}
  {{remove_all}}
  <button class="btn btn-default">Delete all</button>
</form>

<a class="btn btn-primary float-right" href="/add_schedules" role="button">Add project</a>
<div class="container-fluid">
  <div class="article" style="color:white; text-align:center">
  {% for sched in schedules %}
  <br><br>
  <div class="row"></div>
    <div class="col-sm-3".col-6 .col-md-4 style="text-align:center; background:#28547E">
      <h2>{{sched.activity}}</h2>
      <p>{{sched.date}}</p>
      <p>{{sched.place}}</p>
      <p>{{sched.category}}</p>
    </div>
  {% endfor %}
</div>

{% endblock %}
