{% extends 'navbar.html' %}
{% load static %} <!-- load files from static folder-->

{% block content %}

<div id="header">
  <h3>Skill</h3>
</div>

<div class="container" id="skillll">
<br><br>
    <div class="row">
        <div class="col-sm-6 text-center">
            <p>PYTHON</p>
            <p>HTML</p>
            <p>MICROSOFT WORD</p>
        </div>
        <div class="col-sm-6 text-center">
            <p>JAVA</p>
            <p>PUBLIC SPEAKING</p>
            <p>MICROSOFT EXCEL</p>
        </div>
    </div>
</div>

<div style="top: -144px; bottom: 0px; left: 0px; width: 49px; position: fixed; margin-top: auto; margin-bottom: auto; margin-left: 57px; z-index: 50; height: 227px></div>
{% endblock content %}
