/*Home*/

body {
    margin-top: 100px;
    background-image:url('https://scontent-sit4-1.xx.fbcdn.net/v/t1.0-9/43030750_1406055796193632_1719567217256824832_n.jpg?_nc_cat=111&oh=726847229cddcab9beb088707fb8c05b&oe=5C51B976');
}

.styleschedule{
  color: white;
}

h2 {
    color: white;
    text-align: right;
}
h4 {
    color: white;
    text-align: right;
    font-size: 200%;
}

p {
    font-family: verdana;
    font-size: 90%;
}

#specific{
  display: block;
  margin: 0 0.2em;
  color:  #F9BF3B;
}
.gue{
  font-size: 30%
  font-family: verdana;
  font-style: oblique;
  text-align: right;
  padding-right: 15%;
  color: white;
}
.gue1{
  font-size: 400%
  font-family: verdana;
  font-style: oblique;
  font-weight: bold;
  text-align: right;
  padding-right: 15%;
  color: white;
}
.about{
  top: -144px;
  bottom: 0;
  left: 0;
  width: 20%;
  position: fixed;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15%;
  z-index: 50;
  height: 50%;
  color: black;
}
#about1{
  text-align:left;
  color:black;
}
#me{
  text-align:left;
  background-color:#FDFDFD;
  width : 50%;
  color: black;
}
/*Experience*/
.col-lg-3{
  line-height: 2em;
  color:white;
}

/*Education*/
#header{
  background-color: #B6B6B4;
  text-align:center;
  padding: 2%;
}

#educationrow{
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  padding-top: 8%;
  text-align: center;
}
#educationcol{
  flex: 33.3%;
  max-width: 33.3%;
  padding: 0;
  color:white;
}
/*Skills*/
#skillll p{
 border: solid 1px #eceff5;
 background: #FFFACD;
 padding: 5%;
 margin: 10;
 text-align: center;
 line-height: 23px;
 font-size: 120%;
 margin-right: 10%;
 margin-left: 10%;
}

/*Contacts*/
#header1{
  background-color: #FFCC66;
  text-align:center;
  padding: 2%;
}

/*guestbooks*/
.form-group{
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 0;
}
/*schedules*/
.box {
    background-color: white;
    margin: 0% 20% 3% 40%;
    padding: 15px;
    box-shadow: 10px 10px 5px grey;
    justify-content: center;
    width: 20%;
    display: block;
}
